@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.top-pannel-contact
			font-size: 16px
	.top-pannel-block
		font-size: em(12px)
	.slider
		h2
			font-size: em(40px)
		p
			font-size: em(15px)


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.slider__img-wrap
		display: none
	.slider__content
		.col-md-6
			padding: 0 80px
	.main-head__top-pannel
		padding: 20px 0
	.sf-menu
		display: none !important
	.main-head__logo
		img
			transform: scale(0.7)
	.top-pannel-contact
		&__phone
			margin-bottom: 15px
		&__email
			display: none


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

	.main-head__top-pannel
		div
			width: 100%
			text-align: center
			font-size: em(17px)
			margin: auto
			float: none !important


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

